@model WebApp.Models.EstadiaViewModel

@{
    ViewData["Title"] = "EstadiaViewModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.image</h1>

<h1>Registro de estancias</h1>
<hr />
<form class="container mt-5 mb-3 py-3 form__register needs-validation" method="POST" enctype="multipart/form-data" asp-controller="Estadia" asp-action="Registrar_">
    <div class="form-group mb-3">
        <label class="mb-1">Nombre de la estadía</label>
        <input class="form-control" placeholder="Ingrese el nombre de la estancía" asp-for="Nombre">
        <span class="field-validation-error" asp-validation-for="Nombre"></span>
    </div>
    <div class="form-group mb-3">
        <label class="mb-1">Provicia</label>
        <input class="form-control" placeholder="Ingrese la provincia" asp-for="Provincia">
        <span class="field-validation-error" asp-validation-for="Provincia"></span>
    </div>
    <div class="form-group mb-3">
        <label class="mb-1">Dirección</label>
        <input class="form-control" placeholder="Ingrese la dirección exacta" asp-for="Direccion">
        <span class="field-validation-error" asp-validation-for="Direccion"></span>
    </div>
    <div class="form-group mb-3">
        <label class="mb-1">Precio por noche</label>
        <input class="form-control" type="number" min="0.00" max="any" step="0.01" placeholder="Ingrese el precio por noche" asp-for="PrecionNoche">
        <span class="field-validation-error" asp-validation-for="PrecionNoche"></span>
    </div>
    <div class="form-group mb-3">
        <label class="mb-1">Capacidad de personas</label>
        <input class="form-control" type="number" min="0" max="any" step="1" placeholder="Ingrese la cantidad de persoanas permitidas" asp-for="Capacidad">
        <span class="field-validation-error" asp-validation-for="Capacidad"></span>
    </div>
    <div class="form-group mb-3">
        <label class="mb-1">Tipo de categoría</label>
        <select class="form-select form-control" asp-for="TipoCategoria">
            <option selected>Choose a option</option>
            @foreach (string item in ViewBag.CategoryTypes)
            {
                <option class="select_opcion">@Html.DisplayFor(type => item)</option>
            }
        </select>
        <span class="field-validation-error" asp-validation-for="TipoCategoria"></span>
    </div>
    <div class="form-group mb-3">
        <label class="mb-1">Descripción de la estancía</label>
        <textarea class="form-control" rows="3" asp-for="Descripcion"></textarea>
        <span class="field-validation-error" asp-validation-for="Descripcion"></span>
    </div>
    <div class="container d-flex justify-content-center my-3">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
