
@model WebApp.Models.EstadiaViewModel
@{
    ViewData["Title"] = "EstadiaAdministrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Administración de las estadias</h1>
<hr />
<div class="row">
    <div class="col-6">
        <form class="me-2 needs-validation" method="POST" novalidate>
            <div class="form-group mb-3">
                <label class="control-label mb-1">Nombre de la estancía</label>
                <input asp-for="Nombre" id="inNombreEstancia" class="form-control" placeholder="Ingrese el nombre de la estancía a buscar" />
                <span asp-validation-for="Nombre" class="field-validation-error"></span>
            </div>
            <div class="form-group">
                <input type="button" id="btn_search" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="container mt-3 table-responsive">
        <div class="row w-100">
            <div class="col-12">
                <table id="myTable" class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Provincia</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Precio noche</th>
                            <th scope="col">Capacidad</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Descripción</th>
                            @*<th scope="col">Imagen</th>*@
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyCategoria"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updateAppointment" tabindex="-1" aria-labelledby="updateAppointment" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update appointement</h5>
            </div>
            <div class="modal-body">
                <form method="POST" class="needs-validation" novalidate>
                    <div class="form-group mb-3">
                        <label class="mb-1">Nombre de la estadía</label>
                        <input id="inNombreEstadia" class="form-control" placeholder="Ingrese el nombre de la estancía" asp-for="Nombre">
                        <span class="field-validation-error" asp-validation-for="Nombre"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-1">Provicia</label>
                        <input id="inProvincia" class="form-control" placeholder="Ingrese la provincia" asp-for="Provincia">
                        <span class="field-validation-error" asp-validation-for="Provincia"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-1">Dirección</label>
                        <input id="inDireccion" class="form-control" placeholder="Ingrese la dirección exacta" asp-for="Direccion">
                        <span class="field-validation-error" asp-validation-for="Direccion"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-1">Precio por noche</label>
                        <input id="inPrecioNoche" class="form-control" type="number" min="0.00" max="any" step="0.01" placeholder="Ingrese el precio por noche" asp-for="PrecionNoche">
                        <span class="field-validation-error" asp-validation-for="PrecionNoche"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-1">Capacidad de personas</label>
                        <input id="inCapacidad" class="form-control" type="number" min="0" max="any" step="1" placeholder="Ingrese la cantidad de persoanas permitidas" asp-for="Capacidad">
                        <span class="field-validation-error" asp-validation-for="Capacidad"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-1">Tipo de categoría</label>
                        <select id="selectCategoria" class="form-select form-control" asp-for="TipoCategoria">
                           
                        </select>
                        <span class="field-validation-error" asp-validation-for="TipoCategoria"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-1">Descripción de la estancía</label>
                        <textarea id="inDescipcion" class="form-control" rows="3" asp-for="Descripcion"></textarea>
                        <span class="field-validation-error" asp-validation-for="Descripcion"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCloseModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="btn_confirmUpdate" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/js/manage_estadia.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
