@model WebApp.Models.CategoriaViewModel

@{
    ViewData["Title"] = "CategoriaAdministrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administración de las categorías</h1>
<hr />
<div class="row">
    <div class="col-6">
        <form class="me-2 needs-validation" method="POST" asp-controller="Categoria" asp-action="Registrar" novalidate>
            <div class="form-group mb-3">
                <label class="control-label mb-1">Tipo de categoría</label>
                <input asp-for="Tipo" class="form-control" />
                <span class="d-inline field-validation-error">@ViewBag.message</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar categoría" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="d-flex mt-3 w-100 table-responsive">
        <div class="row w-75">
            <div class="col-12 scrollme">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>

                    <tbody id="tbodyCategoria">
                        @foreach (var item in ViewData["categorias"] as List<CategoriaViewModel>)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tipo)
                                </td>
                                <td>
                                    <form method="POST" asp-controller="Categoria" asp-action="Eliminar">
                                        <input asp-for="Id" type="hidden" value="@item.Id">
                                        <button type="submit" class="btn btn-danger mb-2 btn-delete"> <i class="fas fa-trash-alt fa-lg"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
